# python and jupyter-notebook  files:
**/__pycache__
**/.ipynb_checkpoints/
**/*.pyc

# pip install folders
countoscope.egg-info/
build/

# example script outputs
examples/example_xyz.png
examples/example_numpy.png
